<% content_for :title, 'Log In' %>

<section id="new-session-section">
  <h2>Log in AHHHHHHHHHHHHHHHHHHHH</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username , autofocus: true, autocomplete: "username" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox-and-label">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</section>
