<% content_for :title, @user.username %>

<section id="user-profile-section">
  <h2 id="username"><%= @user.username %></h2>
  <p>Email: <%= @user.email %></p>
  <p>Time zone: <%= @user.time_zone %></p>

  <% if @user.created_events.any? %>
    <h2>Events Created</h2>
    <ul>
      <% @user.created_events.each do |event| %>
        <% if event.private %>
          <% next unless user_signed_in? %>
          <% next unless (event.private && event.invited_users.include?(current_user.id.to_s)) ||
            event.creator_id == current_user.id %>
        <% end %>

        <li><%= event.name %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @user.attended_events.any? %>
    <h2>Event Attendings</h2>

    <% if @user.attended_events.upcoming.any? %>
      <h3>Upcoming</h3>
      <ul>
        <% @user.attended_events.upcoming.each do |event| %>
          <% if event.private %>
            <% next unless user_signed_in? %>
            <% next unless (event.private && event.invited_users.include?(current_user.id.to_s)) ||
              event.creator_id == current_user.id %>
          <% end %>

          <li><%= event.name %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @user.attended_events.past.any? %>
      <h3>Past</h3>
      <ul>
        <% @user.attended_events.past.each do |event| %>
          <% if event.private %>
            <% next unless user_signed_in? %>
            <% next unless (event.private && event.invited_users.include?(current_user.id.to_s)) ||
              event.creator_id == current_user.id %>
          <% end %>

          <li><%= event.name %></li>
        <% end %>
      </ul>
    <% end %>

  <% end %>

</section>
