<h1>Events</h1>
<%= link_to "New event", new_event_path %>

<% @events.each do |event| %>
  <article class="event">
    <p class="event-name"><%= event.name %></p>
    <p class="event-start-time">
    <%= Time.zone.parse(event.start_timewithzone).strftime('%a, %b %d, %I:%M%p') %>
    </p>

    <p class="event-location"><%= event.location %></p>
    <p class="event-description"><%= event.description %></p>

    <div class="event-actions">
      <%= link_to "View", event_path(event.id) %>
      <%= link_to "Edit", edit_event_path(event.id) %>
    </div>
  </article>
<% end %>
