<% content_for :title, @event.name %>

<article class="event-expanded event">
  <h2><b>Name:</b> <%= @event.name %></h2>
  <p><b>Location:</b> <%= @event.location %></p>

  <% unless @event.description.empty? %>
    <p><b>Description:</b> <%= @event.description %></p>
  <% end %>

  <p><b>Begins:</b>
  <%= Time.zone.parse(@event.start_timewithzone).strftime('%a, %b %d, %I:%M%p') %>
  (<%= Time.current.zone %>)</p>
  <p><b>Ends:</b>
  <%= Time.zone.parse(@event.end_timewithzone).strftime('%a, %b %d, %I:%M%p') %>
  (<%= Time.current.zone %>)</p>

  <% if @event.attendees.any? %>
    <p><b>Attendees</b></p>
    <% @event.attendees.each do |attendee| %>
      <p><%= link_to attendee.username, user_path(attendee.id), class: 'link' %></p>
    <% end %>
  <% end %>

  <% if @event.invited_users.any? %>
    <p><b>Invited</b></p>
    <% @event.invited_users.each do |user_id| %>
      <p><%= link_to User.find(user_id).username, user_path(user_id), class: 'link' %></p>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <% if @event.attendees.exists?(current_user.id) %>
      <%= button_to 'Leave Event', event_attending_path,
        params: { event_id: @event.id }, method: :delete,
        data: { confirm: 'Are you sure you want to leave this event?' } %>
    <% else %>
      <%= button_to 'Join Event', event_attendings_path, params: { event_id: @event.id } %>
    <% end %>
  <% end %>

  <div class="event-actions">
    <% if user_signed_in? && @event.creator_id == current_user.id %>
      <div class="button"><%= link_to "Edit", edit_event_path(@event.id) %></div>
      <div class="button destructive-action">
        <%= link_to "Delete", event_path(@event.id), method: :delete,
          data: { confirm: 'Are you sure you want to delete this event?' } %>
      </div>
    <% end %>
  </div>
</article>
