<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || 'Privatevents' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="logo-container">
        <%= image_tag 'bird-mail.png', id: 'logo' %>
      </div>
      <h1>private events</h1>

      <nav>
        <%= link_to "Home", root_path %>

        <% if current_user %>
          <%= link_to "Log out", destroy_user_session_path, method: :post %>
        <% else %>
          <%= link_to "Log in", new_user_session_path %>
          <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
      </nav>
    </header>

    <section id="flash-messages">
      <h2 class="hidden-accessible">Notices and Alerts</h2>
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </section>

    <%= yield %>
  </body>

  <footer>
    <a href="https://www.vecteezy.com/vector-art/4677423-a-bird-mail-illustration-colorless-cartoon-for-drawing-and-coloring-activities-fun-activity-for-kids-development-and-creativity-object-isolated-on-white-background-in-vector-design">Bird Mail Illustration by Lincung Studio</a>
  </footer>
</html>
